#food::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#food {
    position: relative;
    width: 100%;
    padding-top: 60px;
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

#food > div {
    position: relative;
    width: 50%;
    max-width: 300px;
    overflow: hidden;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#food > div > img {
    width: 100%;
    pointer-events: none;
    background: black;
}

#food > div > div.title {
    position: absolute;

    font-size: 20px;
    font-weight: 700;
    width: 100%;
    /*height: 100px;*/
    /*line-height: 100px;*/
    /*width: calc(100% - 20px);*/
    /*box-sizing: border-box;*/
    /*margin: 10px;*/
    padding: 10px;

    text-align: center;
    /*line-height: 100%;*/

    color: rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.0);
    mix-blend-mode: hard-light;
    word-wrap: break-word;

    /*border-radius: 10px;*/
}

#food > div.hover > div.title {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.5);
    transition: 1s all ease-in;
}

#food > div:hover > div.title {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.5);
    transition: 1s all ease-in;
}

#version {
    /*margin: 20px;*/
    /*width: calc(100% - 40px);*/
    align-items: center;
}

#version > div {
    width: 70%;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
}
