#fridge::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#fridge {
    /*position: absolute;*/
    top: 0;
    width: 100%;
    /*height: 100%;*/
    padding-top: 50px;
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;

    overflow-y: scroll;
}

#fridge > div {
    position: relative;
    width: 33%;
    max-width: 300px;
    overflow: hidden;
    aspect-ratio: 1;
    background: black;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 1s;
}

/*#fridge > div.hover > div.title {*/
/*    color: red;*/
/*}*/

#fridge > div.active {
    background: rgba(255, 255, 255, .2) !important;
}

#fridge > div.active > div.title {
    /*color: rgba(255, 255, 255, 0.88);*/
}

#fridge > div > div.title {
    position: absolute;

    font-size: 14px;
    font-weight: 700;
    width: 80%;

    /*padding: 10px;*/
    margin: 10%;

    text-align: center;
    /*line-height: 100%;*/

    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.0);
    mix-blend-mode: hard-light;
    word-wrap: break-word;

    white-space: normal;
    hyphens: none;

    /*border-radius: 10px;*/
}

#fridge > div:hover {
    background: rgba(255, 255, 255, .1);
}