#fridge::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#fridge {
    /*position: absolute;*/
    top: 0;
    width: 100%;
    /*height: 100%;*/
    padding-top: 60px;
    background: rgba(0, 0, 0, 0.9);

    z-index: 2;

    overflow-y: scroll;
}

.fridge-description {
    position: relative;
    padding: 40px;
    font-size: 26px;
    font-weight: 700;
    color: ghostwhite;
    text-align: right;
}

.fridge-score {
    color: ghostwhite;
    font-weight: 700;
    margin-left: 40px;
}

.fridge-settings {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*color: whitesmoke;*/
}

.fridge-settings div {
    font-size: 26px;
    margin: 10px;
    font-weight: 700;
    color: whitesmoke;
    opacity: .1;
}

.fridge-settings div.active {
    opacity: .9;
}



/*#fridge {*/
/*    !*bottom: 15%;*!*/
/*    !*position: absolute;*!*/
/*    -webkit-animation: ease-out;*/
/*    -webkit-animation-name: opacityToOne;*/
/*    -webkit-animation-duration: .5s;*/
/*}*/
/*@-webkit-keyframes opacityToOne {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

#fridge {
    position: absolute;
    top: 0;
    bottom: 0;
    /*overflow: scroll;*/
    -webkit-animation: linear;
    -webkit-animation-name: moveFromRight;
    -webkit-animation-duration: .1s;
}
@-webkit-keyframes moveFromRight {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

#fridge div.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*padding-left: 2.5%;*/
    /*padding-right: 2.5%;*/
    margin-bottom: 1.25%;
}

#fridge div.grid > span {
    width: 100%;
    padding-right: 40px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    /*color: whitesmoke;*/
    text-align: right;

    background-color: whitesmoke;
    color: black;
    margin-bottom: 1.25%;
}

#fridge div.grid > div {
    position: relative;
    width: 30%;
    margin: 1.25%;
    max-width: 300px;
    overflow: hidden;
    aspect-ratio: 1;
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 50%;

    transition: all 1s;
}

/*#fridge > div.hover > div.title {*/
/*    color: red;*/
/*}*/

#fridge div.grid > div.active {
    /*background: rgba(255, 255, 255, .2) !important;*/
    border-radius: 10px;
}

#fridge div.grid > div.active > div.title {
    color: rgba(0, 0, 0, 0.6);
}

#fridge div.grid > div > div.title {
    position: absolute;

    font-size: 14px;
    font-weight: 700;
    width: 100%;

    /*padding: 10px;*/
    /*margin: 10%;*/

    text-align: center;
    /*line-height: 100%;*/

    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.0);
    mix-blend-mode: hard-light;
    word-wrap: break-word;

    white-space: normal;
    hyphens: none;

    /*border-radius: 10px;*/
}

#fridge div.grid > div:hover {
    background: rgba(255, 255, 255, .1);
    /*border-radius: 50%;*/
}